@font-face {
  font-family: Gowun Batang;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("@/assets/fonts/GowunBatang-Regular.ttf")
  format("truetype");
}

@font-face {
  font-family: Gowun Batang Bold;
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url("@/assets/fonts/GowunBatang-Bold.ttf")
  format("truetype");
}

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "mural";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #FCFAF6;
  --color-base-200: #F6F6ED;
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #003366;
  --color-primary-content: oklch(0.873 0.050 258.9);
  --color-secondary: #006633;
  --color-secondary-content: oklch(0.961 0.027 149.2);
  --color-accent: oklch(0.490 0.225 181.9);
  --color-accent-content: oklch(0.139 0.155 149.2);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

body {
  font-family: "Gowun Batang", serif;
}

.font-gowunBold {
  font-family: "Gowun Batang Bold", serif;
}
