name: Deploy Site

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'site/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Build React (Vite)
        working-directory: ./site
        run: |
          npm install
          npm run build

      - name: Deploy to gh-pages-site
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages-site
          publish_dir: ./site/dist
